.form-col {
    float: left;
    width: 48%;
    margin-right: 2%;
}
.form-row {
    clear: both;
}
.input-type {
    width: 60% !important;
	height: 33px;
}
.form-col label {
    display: block;
    float: left;
    width: 35%;
	font-size: 14px;
}
.form-col p{
	clear: both;
}
.books th, .books td {
    font-size: 14px;
}
.results{
	margin-top: 20px;
}
.btn-submit{
	padding: 10px 12px !important;
	font-size: 14px !important;
}